<%- include('header.ejs') %>

<section class="bg-customColorBlack w-full h-full">
    <div class="pt-32 pb-12 text-black flex flex-col items-center">
        <p class="text-3xl sm:text-5xl lg:text-6xl mx-32 text-white font-bold">Book Request</p>
    </div>
    <div class="flex flex-col items-center">
        <% if (contentCheck.status === 0) { %>

        <table class="text-md bg-white shadow-md rounded-xl mt-12 mb-8">
            <thead class="">
                <tr>
                    <th class="text-left p-4">Student Name</th>
                    <th class="text-left p-4">Roll No.</th>
                    <th class="text-left p-4">Year</th>
                    <th class="text-left p-4">Branch</th>
                    <th class="text-left p-4">Book Name</th>
                    <th class="text-left p-4">Author Name</th>
                </tr>
            </thead>
        </table>

        <% } else { %>

        <table class="text-md bg-white shadow-md rounded-xl mt-12 mb-8">
            <thead class="border-b">
                <tr>
                    <th class="text-left p-4">Student Name</th>
                    <th class="text-left p-4">Roll No.</th>
                    <th class="text-left p-4">Year</th>
                    <th class="text-left p-4">Branch</th>
                    <th class="text-left p-4">Book Name</th>
                    <th class="text-left p-4">Author Name</th>
                    <th class="text-left p-4"></th>
                    <th class="text-left p-4"></th>
                </tr>
            </thead>
            <tbody>
                <% data.studentDetail.forEach((info, index) => { %>
                <tr>
                    <td class="p-4"><%= info.name %></td>
                    <td class="p-4"><%= info.roll_no %></td>
                    <td class="p-4"><%= info.year %></td>
                    <td class="p-4"><%= info.branch %></td>
                    <td class="p-4"><%= data.bookDetail[index].name %></td>
                    <td class="p-4"><%= data.bookDetail[index].author %></td>
                    <td class="p-4 flex justify-start items-center">
                        <button>
                            <a href="/show-list-manualId-specific-book-request/<%= info._id %>/<%= data.bookDetail[index]._id %>"
                                class="px-4 py-2 rounded text-sm bg-green-500 hover:bg-green-700 text-white focus:outline-none focus:shadow-outline">Accept</a>
                        </button>
                    </td>
                    <td class="p-4 flex justify-start items-center">
                        <button>
                            <a href="/api-admin-book-reject/<%= info._id %>/<%= data.bookDetail[index]._id %>"
                                class="px-4 py-2 rounded text-sm bg-red-500 hover:bg-red-700 text-white focus:outline-none focus:shadow-outline">Reject</a>
                        </button>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>

        <!-- <table class="text-white border-2 border-solid border-white">
            <thead class="border-2 border-solid border-white">
                <tr>
                    <th class="border-2 border-solid border-white p-2">Student Name</th>
                    <th class="border-2 border-solid border-white p-2">Roll No.</th>
                    <th class="border-2 border-solid border-white p-2">Year</th>
                    <th class="border-2 border-solid border-white p-2">Branch</th>
                    <th class="border-2 border-solid border-white p-2">Book Name</th>
                    <th class="border-2 border-solid border-white p-2">Author Name</th>
                    <th class="border-2 border-solid border-white p-2">Accept</th>
                    <th class="border-2 border-solid border-white p-2">Reject</th>
                </tr>
            </thead>
            <tbody>
                <% data.studentDetail.forEach((info, index) => { %>
                <tr>
                    <td class="border-2 border-solid border-white p-2"><%= info.name %></td>
                    <td class="border-2 border-solid border-white p-2"><%= info.roll_no %></td>
                    <td class="border-2 border-solid border-white p-2"><%= info.year %></td>
                    <td class="border-2 border-solid border-white p-2"><%= info.branch %></td>
                    <td class="border-2 border-solid border-white p-2"><%= data.bookDetail[index].name %></td>
                    <td class="border-2 border-solid border-white p-2"><%= data.bookDetail[index].author %></td>
                    <td class="border-2 border-solid border-white p-2 underline"><a
                            href="/show-list-manualId-specific-book-request/<%= info._id %>/<%= data.bookDetail[index]._id %>">Accept</a>
                    </td>
                    <td class="border-2 border-solid border-white p-2 underline"><a
                            href="/api-admin-book-reject/<%= info._id %>/<%= data.bookDetail[index]._id %>">Reject</a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table> -->
    </div>
    <% } %>
</section>

<%- include('footer.ejs') %>